@import "../../assets/styles/variables.css";
@import "../../assets/styles/buttons.css";

.word-list {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.word-list th,
.word-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.word-list th {
  background-color: var(--primary-color);
  color: white;
}

.word-list td {
  text-align: center;
}

.word-list input {
  width: 80%;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.actions {
  width: 30%;
}

.add-word-form {
  margin: 5%;
}

.add-word-form input {
  margin-right: 10px;
  padding: 5px;
}

.add-word-form button:hover {
  background-color: var(--button-color-2);
}
