@import "../../assets/styles/variables.css";

.wordCarouselContainer {
  text-align: center;
  margin-top: 20px;
}

.carouselHeader {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 20px;
}

.wordCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: large;
}
