@import "../../assets/styles/variables.css";

.training {
  color: var(--text);
}
.training-mode {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(400px, 0fr));
  justify-content: center;
}

.word-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 30px;
  color: var(--text);
  box-shadow: 0 4px 6px rgba(2, 2, 74, 0.625);
  transition: transform 0.2s ease;
}

.word-card:hover {
  transform: scale(1.1);
}
