:root {
  --primary-color: #0044b9;
  --button-color: #0044b9;
  --button-color-2: #005eff;
  --text: #002564;
  --font-family: "Arial", sans-serif;
  --font-size: 16px;
  --border-radius: 5px;
  --transition-time: 0.3s;
  --input-padding: 5px;
  --input-border: 1px solid #ddd;
}
