:root {
  --primary-color: #00359f;
  --button-color: #0037a4;
  --button-color-2: #004cff;
  --text: rgb(30, 37, 92);
  --font-family: "Arial", sans-serif;
  --font-size: 16px;
  --border-radius: 5px;
  --transition-time: 0.3s;
  --input-padding: 5px;
  --input-border: 1px solid #ddd;
}
